<roundcube:include file="/includes/layout.html" />

<h1 class="voice"><roundcube:label name="folderproperties" /></h1>

<div class="formcontent">
	<roundcube:object name="folderdetails" class="propform" />
</div>

<div class="formbuttons">
	<roundcube:button command="save" class="btn btn-primary submit" label="save" />
</div>

<roundcube:include file="/includes/footer.html" />
