<roundcube:include file="/includes/layout.html" />
<roundcube:include file="/includes/menu.html" />
<roundcube:include file="/includes/settings-menu.html" />

<h1 class="voice"><roundcube:label name="settings" /> : <roundcube:label name="identities" /></h1>

<!-- responses list -->
<div class="list listbox selected" aria-labelledby="aria-label-identitieslist">
	<div class="header">
		<a class="button icon back-sidebar-button" href="#sidebar"><span class="inner"><roundcube:label name="settings" /></span></a>
		<span id="aria-label-identitieslist" class="header-title"><roundcube:label name="identities" /></span>
		<a class="button icon toolbar-menu-button" href="#list-menu"><span class="inner"><roundcube:label name="menu" /></span></a>
	</div>
	<div class="scroller">
		<roundcube:object name="identitieslist" id="identities-table" class="listing"
			noheader="true" role="listbox" data-list="identity_list"
			data-label-msg="listempty" data-label-ext="listusebutton" data-create-command="add" />
	</div>
	<div class="footer"></div>
</div>

<!-- response details frame -->
<div class="content" role="main">
	<h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>
	<div class="header" role="toolbar" aria-labelledby="aria-label-toolbar">
		<a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
		<span class="header-title"></span>
		<!-- toolbar -->
		<div id="identitiestoolbar" class="toolbar">
			<roundcube:button command="add" type="link"
				label="create" title="newidentity" innerClass="inner" 
				class="button create disabled" classAct="button create"
				condition="config:identities_level:0<2" data-fab="true" />
			<roundcube:button command="delete" type="link"
				label="delete" title="delete" innerClass="inner"
				class="button delete disabled" classAct="button delete"
				condition="config:identities_level:0<2" />
		</div>
	</div>
	<div class="iframe-wrapper">
		<roundcube:object name="identityframe" id="preferences-frame" src="/watermark.html" title="arialabelidentityeditfrom" />
	</div>
</div>

<roundcube:include file="/includes/footer.html" />
