<roundcube:include file="//includes/layout.html" />

<h1 class="voice"><roundcube:object name="productname" /> <roundcube:label name="login" /></h1>

<div class="content selected no-navbar" role="main">
	<roundcube:form id="login-form" name="login-form" method="post" class="propform">
	<roundcube:object name="loginform" form="login-form" size="40" submit=true />
		<div id="login-footer" role="contentinfo">
			<roundcube:object name="productname" condition="config:display_product_info &gt; 0" />
			<roundcube:object name="version" condition="config:display_product_info == 2" />
			<roundcube:if condition="config:support_url" />
				&nbsp;&#9899;&nbsp; <a href="<roundcube:var name='config:support_url' />" target="_blank" class="support-link"><roundcube:label name="support" /></a>
			<roundcube:endif />
			<roundcube:container name="loginfooter" id="login-footer" />
		</div>
	</form>
</div>

<noscript>
	<p class="noscriptwarning"><roundcube:label name="noscriptwarning" /></p>
</noscript>

<roundcube:include file="/includes/footer.html" />
