<roundcube:include file="/includes/layout.html" />

<h1 class="voice"><roundcube:var name="env:filename" /></h1>

<div class="sidebar listbox">
	<div class="header">
		<a class="button icon back-content-button" href="#content" data-hidden="big"><span class="inner"><roundcube:label name="back" /></span></a>
		<span class="header-title" id="aria-label-contentinfo"><roundcube:label name="properties" /></span>
	</div>
	<roundcube:object name="messagePartControls" class="listing" role="contentinfo"
		aria-labelledby="aria-label-contentinfo" />
</div>

<div class="content selected">
	<h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>
	<div class="header" role="toolbar" aria-labelledby="aria-label-toolbar">
		<span class="header-title constant"><roundcube:var name="env:filename" /></span>
		<div id="messagetoolbar" class="toolbar">
			<a class="button properties" id="properties-button" href="#properties" onclick="UI.show_sidebar()" data-hidden="big">
				<span class="inner"><roundcube:label name="properties"></span>
			</a>
			<roundcube:button command="download" type="link" label="download" title="download"
				class="button download disabled" classAct="button download" innerclass="inner" />
			<roundcube:button command="print" type="link" label="print" title="print"
				class="button print disabled" classAct="button print" innerclass="inner" data-hidden="small" />
			<roundcube:container name="toolbar" id="messagetoolbar" />
			<roundcube:if condition="env:is_message" />
				<span class="spacer"></span>
				<roundcube:button command="reply" type="link"
					class="button reply disabled" classAct="button reply"
					label="reply" title="replytomessage" innerclass="inner" />
				<span class="dropbutton">
					<roundcube:button command="reply-all" type="link"
						class="button reply-all disabled" classAct="button reply-all"
						label="replyall" title="replytoallmessage" innerclass="inner" />
					<a href="#reply-all" id="replyallmenulink" class="button dropdown" data-popup="replyall-menu" tabindex="0">
						<span class="inner"><roundcube:label name="arialabelreplyalloptions" /></span>
					</a>
				</span>
				<span class="dropbutton">
					<roundcube:button command="forward" type="link"
						class="button forward disabled" classAct="button forward"
						label="forward" title="forwardmessage" innerclass="inner" />
					<a href="#forward" id="forwardmenulink" class="button dropdown" data-popup="forward-menu" tabindex="0">
						<span class="inner"><roundcube:label name="arialabelforwardingoptions" /></span>
					</a>
				</span>
				<span class="spacer"></span>
				<roundcube:button name="messagemenulink" id="messagemenulink" type="link"
					class="button more" label="more" title="moreactions" data-popup="message-menu"
					innerclass="inner" data-hidden="small" />
			<roundcube:endif />
			<roundcube:if condition="stripos(env:mimetype, 'image/') === 0" />
				<roundcube:button command="image-scale" type="link" prop="+" data-hidden="small"
					class="button zoomin disabled" classAct="button zoomin"
					label="zoomin" title="increaseimage" innerclass="inner" />
				<roundcube:button command="image-scale" type="link" prop="-" data-hidden="small"
					class="button zoomout disabled" classAct="button zoomout"
					label="zoomout" title="decreaseimage" innerclass="inner" />
				<roundcube:button command="image-rotate" type="link"
					class="button rotate disabled" classAct="button rotate" data-hidden="small"
					label="rotate" title="rotateimage" innerclass="inner" />
			<roundcube:endif />
		</div>
	</div>
	<h2 id="aria-label-messagepart" class="voice"><roundcube:label name="arialabelattachmentpreview" /></h2>
	<div class="iframe-wrapper">
		<roundcube:object name="messagePartFrame" id="messagepartframe" title="arialabelattachmentpreview"
			role="main" aria-labelledby="aria-label-messagepart" />
	</div>
</div>

<roundcube:if condition="env:is_message" />
	<div id="forward-menu" class="popupmenu">
		<h3 id="aria-label-forwardmenu" class="voice"><roundcube:label name="arialabelforwardingoptions" /></h3>
		<ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-forwardmenu">
			<roundcube:button type="link-menuitem" command="forward-inline" label="forwardinline" prop="sub" classAct="forward inline active" class="forward" />
			<roundcube:button type="link-menuitem" command="forward-attachment" label="forwardattachment" prop="sub" classAct="forward attachment active" class="forward attachment" />
			<roundcube:container name="forwardmenu" id="forward-menu" />
		</ul>
	</div>

	<div id="replyall-menu" class="popupmenu">
		<h3 id="aria-label-replyallmenu" class="voice"><roundcube:label name="arialabelreplyalloptions" /></h3>
		<ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-replyallmenu">
			<roundcube:button type="link-menuitem" command="reply-all" label="replyall" prop="sub" class="reply all" classAct="reply all active" />
			<roundcube:button type="link-menuitem" command="reply-list" label="replylist" prop="sub" class="reply list" classAct="reply list active" />
			<roundcube:container name="replyallmenu" id="replyall-menu" />
		</ul>
	</div>

	<div id="message-menu" class="popupmenu">
		<h3 id="aria-label-messagemenu" class="voice"><roundcube:label name="arialabelmoremessageactions" /></h3>
		<ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-messagemenu">
			<roundcube:button type="link-menuitem" command="edit" prop="new" label="editasnew" class="edit asnew" classAct="edit asnew active" />
			<roundcube:button type="link-menuitem" command="viewsource" label="viewsource" class="source" classAct="source active" />
			<roundcube:container name="messagemenu" id="message-menu" />
		</ul>
	</div>
<roundcube:endif />

<roundcube:if condition="stripos(env:mimetype, 'image/') === 0" />
	<div id="image-tools" class="image-tools" data-hidden="big">
		<h3 id="aria-label-imagetools" class="voice"><roundcube:label name="arialabelimagetools" /></h3>
		<div class="toolbar" role="menu" aria-labelledby="aria-label-imagetools">
			<roundcube:button command="image-scale" type="link" prop="+"
				class="button zoomin disabled" classAct="button zoomin"
				label="zoomin" title="increaseimage" innerclass="inner" />
			<roundcube:button command="image-scale" type="link" prop="-"
				class="button zoomout disabled" classAct="button zoomout"
				label="zoomout" title="decreaseimage" innerclass="inner" />
			<roundcube:button command="image-rotate" type="link"
				class="button rotate disabled" classAct="button rotate"
				label="rotate" title="rotateimage" innerclass="inner" />
		</div>
		<a href="#" class="button icon tools" onclick="$(this).attr('title', $(this).data('label-' + ($('#image-tools').toggleClass('open').is('.open') ? 'hide' : 'show')))"
			data-label-show="<roundcube:label name="showtools" />" data-label-hide="<roundcube:label name="hidetools" />" title="<roundcube:label name="showtools" />">
			<span class="inner"><roundcube:label name="showtools" /></span>
		</a>
	</div>
<roundcube:endif />

<roundcube:include file="/includes/footer.html" />
